<footer class="text-dark pt-5 mt-3 m-1 p-2">
  <div class="container d-flex flex-column mt-5">

    <!-- 🌍 Countries -->
    <div class="row text-center mb-4 justify-content-center">
      <div class="col-6 col-sm-3 col-md-2 mb-3">
        <img src="https://flagcdn.com/w40/it.png" class="rounded-circle mb-2" alt="Italy">
        <p class="mb-0 small">Italy</p>
      </div>
      <div class="col-6 col-sm-3 col-md-2 mb-3">
        <img src="https://flagcdn.com/w40/tr.png" class="rounded-circle mb-2" alt="Turkey">
        <p class="mb-0 small">Turkey</p>
      </div>
      <div class="col-6 col-sm-3 col-md-2 mb-3">
        <img src="https://flagcdn.com/w40/ru.png" class="rounded-circle mb-2" alt="Russia">
        <p class="mb-0 small">Russia</p>
      </div>
      <div class="col-6 col-sm-3 col-md-2 mb-3">
        <img src="https://flagcdn.com/w40/pk.png" class="rounded-circle mb-2" alt="Pakistan">
        <p class="mb-0 small">Pakistan</p>
      </div>
    </div>

    <!-- 🔗 Links -->
    <div class="row text-center mb-4">
      <div class="col-6 col-md-3 mb-3">
        <h6 class="fw-bold">Electronics</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-secondary text-decoration-none">Mobiles</a></li>
          <li><a href="#" class="text-secondary text-decoration-none">Laptops</a></li>
          <li><a href="#" class="text-secondary text-decoration-none">Cameras</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3 mb-3">
        <h6 class="fw-bold">Health & Beauty</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-secondary text-decoration-none">Skin Care</a></li>
          <li><a href="#" class="text-secondary text-decoration-none">Hair Care</a></li>
          <li><a href="#" class="text-secondary text-decoration-none">Personal Care Use</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3 mb-3">
        <h6 class="fw-bold">Home</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-secondary text-decoration-none">Furniture</a></li>
          <li><a href="#" class="text-secondary text-decoration-none">Decor</a></li>
          <li><a href="#" class="text-secondary text-decoration-none">Kitchen</a></li>
        </ul>
      </div>
      <div class="col-6 col-md-3 mb-3">
        <h6 class="fw-bold">Support</h6>
        <ul class="list-unstyled">
          <li><a href="#" class="text-secondary text-decoration-none">Help Center</a></li>
          <li><a href="#" class="text-secondary text-decoration-none">Contact Us</a></li>
          <li><a href="#" class="text-secondary text-decoration-none">Returns</a></li>
        </ul>
      </div>
    </div>

    <!-- 📱 Social Icons -->
    <div class="container text-center">
      <!-- Payment Icons -->
      <div class="icon-box d-flex flex-wrap justify-content-center">
        <!-- <img src="https://upload.wikimedia.org/wikipedia/commons/0/04/Mastercard-logo.png" alt="">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/57/Visa_2021.svg" alt="">
        <img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/PayPal.svg" alt="">
        <img src="https://upload.wikimedia.org/wikipedia/commons/3/39/Apple_Pay_logo.svg" alt="">
        <img src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Google_Pay_Logo.svg" alt=""> -->
      </div>
          <div class="container text-center">
      <!-- Payment Icons -->
     <div class="icon-box d-flex flex-wrap justify-content-center gap-3">
  <img src="https://upload.wikimedia.org/wikipedia/commons/0/04/Mastercard-logo.png" alt="Mastercard" class="img-fluid" style="height:30px;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/5/57/Visa_2021.svg" alt="Visa" class="img-fluid" style="height:30px;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/b/b5/PayPal.svg" alt="PayPal" class="img-fluid" style="height:30px;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/3/39/Apple_Pay_logo.svg" alt="Apple Pay" class="img-fluid" style="height:30px;">
  <img src="https://upload.wikimedia.org/wikipedia/commons/f/fb/Google_Pay_Logo.svg" alt="Google Pay" class="img-fluid" style="height:30px;">
</div>

      <!-- Social Media -->
      <div class="social-icons my-2">
        <a href="#"><i class="fab fa-facebook-f"></i></a>
        <a href="#"><i class="fab fa-linkedin-in"></i></a>
        <a href="#"><i class="fab fa-twitter"></i></a>
        <a href="#"><i class="fab fa-instagram"></i></a>
        <a href="#"><i class="fab fa-youtube"></i></a>
        <a href="#"><i class="fab fa-tiktok"></i></a>
      </div>

      <!-- App Store Links -->
      <div class="store-btn mt-3">
        <img src="https://upload.wikimedia.org/wikipedia/commons/5/5f/Available_on_the_App_Store_%28black%29_SVG.svg" alt="">
        <img src="https://upload.wikimedia.org/wikipedia/commons/7/78/Google_Play_Store_badge_EN.svg" alt="">
      </div>
    </div>

    <!-- © Copy -->
    <div class="text-center pb-4 mt-3">
      <p class="text-muted small mb-0">&copy; 2025 Ecoverse.com. All rights reserved.</p>
    </div>

  </div>
</footer>
